__pycache__/
.DS_Store
.env
.idea/
.vscode/
*.py[cod]
build/
node_modules/
TEST-*xml
venv/

db.sqlite3
.coverage
frontend/coverage/
backend/minio/
.sql.gz
backend/db.json
minio/minio_files/.minio.sys/

package-lock.json

storybook-static/

minio/minio_files/zeva

*.sql