services:
  db:
    image: postgres:17.0
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=zeva
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres-data:/var/lib/postgresql/data
  api:
    build: ./backend
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    env_file:
      - backend.env
      - minio.env
    volumes:
      - ./backend:/api
    ports:
      - 8000:8000
    depends_on:
      db:
        condition: service_healthy
  minio:
    image: minio/minio
    hostname: "minio"
    volumes:
      - ./minio/minio_files:/minio_files
    env_file:
      - minio.env
    command: "minio server /minio_files --console-address \":9001\""
    ports:
      - 9000:9000
      - 9001:9001
  web:
    build: ./frontend
    command: npm start
    env_file:
      - frontend.env
    volumes:
      - ./frontend:/web
      - /web/node_modules
    ports:
      - 3000:3000
      - 8080:8080
volumes:
  postgres-data:
