[run]
branch = True
command_line = manage.py test -v 2
source =
    api/
    zeva/
    db_comments/
    auditable/

[report]
exclude_lines =
    pragma: no cover
    raise AssertionError
    raise NotImplementedError
omit =
    zeva/wsgi.py
    api/management/*
    */tests/*
    */migrations/*
    */models/*
    */fixtures/*

fail_under = 80
