<?xml version='1.1' encoding='UTF-8'?>
<hudson>
    <disabledAdministrativeMonitors>
        <string>GitHubHookRegisterProblemMonitor</string>
        <string>jenkins.security.QueueItemAuthenticatorMonitor</string>
    </disabledAdministrativeMonitors>
    <version>2.176.1</version>
    <installStateName>RUNNING</installStateName>
    <numExecutors>0</numExecutors>
    <mode>EXCLUSIVE</mode>
    <useSecurity>true</useSecurity>
    <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
        <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:kuanfandevops-admin-edit-view</permission>
        <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:kuanfandevops-admin-edit-view</permission>
        <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:kuanfandevops-admin-edit-view</permission>
        <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:kuanfandevops-admin-edit-view</permission>
        <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:kuanfandevops-admin-edit-view</permission>
        <permission>hudson.model.Computer.Configure:kuanfandevops-admin-edit-view</permission>
        <permission>hudson.model.Computer.Connect:jenkins-slave</permission>
        <permission>hudson.model.Computer.Create:jenkins-slave</permission>
        <permission>hudson.model.Computer.Delete:kuanfandevops-admin-edit-view</permission>
        <permission>hudson.model.Hudson.Administer:kuanfandevops-admin-edit-view</permission>
        <permission>hudson.model.Hudson.Read:jenkins-slave</permission>
        <permission>hudson.model.Hudson.Read:kuanfandevops-admin-edit-view</permission>
        <permission>hudson.model.Hudson.RunScripts:kuanfandevops-admin-edit-view</permission>
        <permission>hudson.model.Item.Build:kuanfandevops-admin-edit-view</permission>
        <permission>hudson.model.Item.Cancel:kuanfandevops-admin-edit-view</permission>
        <permission>hudson.model.Item.Configure:kuanfandevops-admin-edit-view</permission>
        <permission>hudson.model.Item.Create:kuanfandevops-admin-edit-view</permission>
        <permission>hudson.model.Item.Delete:kuanfandevops-admin-edit-view</permission>
        <permission>hudson.model.Item.Discover:kuanfandevops-admin-edit-view</permission>
        <permission>hudson.model.Item.Read:kuanfandevops-admin-edit-view</permission>
        <permission>hudson.model.Item.Workspace:kuanfandevops-admin-edit-view</permission>
        <permission>hudson.model.Run.Delete:kuanfandevops-admin-edit-view</permission>
        <permission>hudson.model.Run.Update:kuanfandevops-admin-edit-view</permission>
        <permission>hudson.model.View.Configure:kuanfandevops-admin-edit-view</permission>
        <permission>hudson.model.View.Create:kuanfandevops-admin-edit-view</permission>
        <permission>hudson.model.View.Delete:kuanfandevops-admin-edit-view</permission>
        <permission>hudson.scm.SCM.Tag:kuanfandevops-admin-edit-view</permission>
    </authorizationStrategy>
    <securityRealm class="org.openshift.jenkins.plugins.openshiftlogin.OpenShiftOAuth2SecurityRealm" plugin="openshift-login@1.0.19">
        <defaultedServiceAccountDirectory>/run/secrets/kubernetes.io/serviceaccount</defaultedServiceAccountDirectory>
        <defaultedServiceAccountName>jenkins-prod</defaultedServiceAccountName>
        <defaultedServerPrefix>https://openshift.default.svc</defaultedServerPrefix>
        <defaultedRedirectURL>https://console.pathfinder.gov.bc.ca:8443</defaultedRedirectURL>
        <defaultedClientId>system:serviceaccount:tbiwaq-tools:jenkins-prod</defaultedClientId>
        <defaultedClientSecret>eyJhbGciOiJSUzI1NiIsImtpZCI6IiJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJ0Yml3YXEtdG9vbHMiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoiamVua2lucy1wcm9kLXRva2VuLWhteHo5Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6ImplbmtpbnMtcHJvZCIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50LnVpZCI6IjEyZDJlYWNlLTJjMTItMTFlYS1hZGNkLTAwNTA1NjgzNDhjYyIsInN1YiI6InN5c3RlbTpzZXJ2aWNlYWNjb3VudDp0Yml3YXEtdG9vbHM6amVua2lucy1wcm9kIn0.PJ7GysGdZdy3uPSLUmFRLUHZHpkocbPV08aXGeeIW5zWWlbwlWMHeTyiF3Tqo4ToYMhcXmqhFukEr6NNRtgxrVUsHuOx4i7OH8UFrW1TeXYgPBBUpfwXhOoIhhTA2Jl5lbWVvsPNNoB_f-SFe3cqcNC0sIctb2EwIl6CBV8JksjfWtxSXzJGkdBYFf9mvBftCq7QlEYVoMWBJ_goOd-j3ITHyo5klVFdmLN4i7GphWPcoFMEsxxEGhbvbG3NNiwA0J_43Ueo6po7V-UH9HNTuD38coqWJbK3PXsr9IUrlncVqj3pbWi3P9Ir_CInjInALpCQPiOupBZ7w2BfgiHdAA</defaultedClientSecret>
        <namespace>tbiwaq-tools</namespace>
        <provider>
            <issuer>https://console.pathfinder.gov.bc.ca:8443</issuer>
            <authorization__endpoint>https://console.pathfinder.gov.bc.ca:8443/oauth/authorize</authorization__endpoint>
            <token__endpoint>https://console.pathfinder.gov.bc.ca:8443/oauth/token</token__endpoint>
        </provider>
        <filter/>
    </securityRealm>
    <disableRememberMe>true</disableRememberMe>
    <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
    <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULL_NAME}</workspaceDir>
    <buildsDir>${JENKINS_HOME}/builds/${ITEM_FULL_NAME}</buildsDir>
    <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
    <jdks/>
    <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
    <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
    <clouds>
        <org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud plugin="kubernetes@1.17.1">
            <name>openshift</name>
            <defaultsProviderTemplate></defaultsProviderTemplate>
            <templates/>
            <serverUrl></serverUrl>
            <skipTlsVerify>false</skipTlsVerify>
            <addMasterProxyEnvVars>false</addMasterProxyEnvVars>
            <capOnlyOnAlivePods>false</capOnlyOnAlivePods>
            <containerCap>10</containerCap>
            <retentionTimeout>5</retentionTimeout>
            <connectTimeout>5</connectTimeout>
            <readTimeout>15</readTimeout>
            <usageRestricted>false</usageRestricted>
            <maxRequestsPerHost>32</maxRequestsPerHost>
            <waitForPodSec>600</waitForPodSec>
            <podRetention class="org.csanchez.jenkins.plugins.kubernetes.pod.retention.Never"/>
        </org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud>
        <org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud plugin="kubernetes@1.17.1">
            <name>openshift</name>
            <defaultsProviderTemplate></defaultsProviderTemplate>
            <templates/>
            <serverUrl></serverUrl>
            <skipTlsVerify>false</skipTlsVerify>
            <addMasterProxyEnvVars>false</addMasterProxyEnvVars>
            <capOnlyOnAlivePods>false</capOnlyOnAlivePods>
            <jenkinsUrl>http://jenkins-prod.tbiwaq-tools.svc:8080</jenkinsUrl>
            <jenkinsTunnel>jenkins-prod.tbiwaq-tools.svc:50000</jenkinsTunnel>
            <containerCap>10</containerCap>
            <retentionTimeout>5</retentionTimeout>
            <connectTimeout>5</connectTimeout>
            <readTimeout>15</readTimeout>
            <usageRestricted>false</usageRestricted>
            <maxRequestsPerHost>32</maxRequestsPerHost>
            <waitForPodSec>600</waitForPodSec>
            <podRetention class="org.csanchez.jenkins.plugins.kubernetes.pod.retention.Never"/>
        </org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud>
    </clouds>
    <quietPeriod>5</quietPeriod>
    <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
    <views>
        <hudson.model.AllView>
            <owner class="hudson" reference="../../.."/>
            <name>all</name>
            <filterExecutors>false</filterExecutors>
            <filterQueue>false</filterQueue>
            <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
    </views>
    <primaryView>all</primaryView>
    <slaveAgentPort>50000</slaveAgentPort>
    <disabledAgentProtocols>
        <string>JNLP-connect</string>
        <string>JNLP2-connect</string>
        <string>JNLP3-connect</string>
    </disabledAgentProtocols>
    <label></label>
    <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
        <excludeClientIPFromCrumb>true</excludeClientIPFromCrumb>
    </crumbIssuer>
    <nodeProperties/>
    <globalNodeProperties/>
    <noUsageStatistics>true</noUsageStatistics>
</hudson>
