/* BC Sans Regular */
@font-face {
	font-family: "BCSans";
	src: url('./fonts/BCSans-Regular.woff') format('woff');
}

/* BC Sans Bold */
@font-face {
	font-family: "BCSans";
	font-weight: bold;
	src: url('./fonts/BCSans-Bold.woff') format('woff');
}

/* BC Sans Bold + Italic */
@font-face {
	font-family: "BCSans";
	font-style: italic;
	font-weight: bold;
	src: url('./fonts/BCSans-BoldItalic.woff') format('woff');
}

/* BC Sans Italic */
@font-face {
	font-family: "BCSans";
	font-style: italic;
	src: url('./fonts/BCSans-Italic.woff') format('woff');
}

@mixin shadow {
  @content;
  box-shadow: 0px 3px 3px 1px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 3px 3px 1px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: 0px 3px 3px 1px rgba(51, 51, 51, 0.5);
}

@mixin text-shadow {
	text-shadow: 2px 2px rgba(51, 51, 51, 0.5);
}

/* variables for colours */
$default-background-blue: #38598A;
$default-background-grey: #F2F2F2;
$default-link-blue: #1A5A96;
$default-text-black: #494949;
$default-text-blue: #1A5A96;
$primary-blue: #003366;
$primary-yellow: #FCBA19;
$white: #FFFFFF;
$yellow: #E3AB2B;

/* variables for screen sizes */
$md: 991px;

html, body, #root {
	height: 100%;
}

body {
	color: $default-text-black;
  font-family: "BCSans", sans-serif;
  margin: 0;
  padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

#main {
	min-height: 100%;
	padding-bottom: 3rem;
}

#content {
	padding: 1rem;
}
