/* BC Sans Regular */
@font-face {
  font-family: "BCSans";
  src: url('./fonts/BCSans-Regular.woff') format('woff');
}

/* BC Sans Bold */
@font-face {
  font-family: "BCSans";
  font-weight: bold;
  src: url('./fonts/BCSans-Bold.woff') format('woff');
}

/* BC Sans Bold + Italic */
@font-face {
  font-family: "BCSans";
  font-style: italic;
  font-weight: bold;
  src: url('./fonts/BCSans-BoldItalic.woff') format('woff');
}

/* BC Sans Italic */
@font-face {
  font-family: "BCSans";
  font-style: italic;
  src: url('./fonts/BCSans-Italic.woff') format('woff');
}

@mixin shadow {
  @content;
  box-shadow: 0px 3px 3px 1px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 3px 3px 1px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: 0px 3px 3px 1px rgba(51, 51, 51, 0.5);
}

@mixin text-shadow {
  text-shadow: 2px 2px rgba(51, 51, 51, 0.5);
}

/* variables for colours */
$alert-danger: #721c24;
$border-grey: #E0E0E0;
$default-background-blue: #38598A;
$default-background-grey: #F2F2F2;
$default-link-blue: #1A5A96;
$default-text-black: #494949;
$default-text-blue: #1A5A96;
$nav-border: #DEE2E6;
$primary-blue: #003366;
$primary-yellow: #FCBA19;
$react-border: rgba(0, 0, 0, 0.1);
$red: #EB0022;
$white: #FFFFFF;
$yellow: #E3AB2B;

/* variables for screen sizes */
$md: 991px;

body, html, #root {
  background-color: $default-background-grey;
  height: 100%;
}

body {
  color: $default-text-black;
  font-family: "BCSans", sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

#main {
  min-height: 100%;
  padding-bottom: 3rem;
}

#content {
  background-color: $white;
  border: 2px solid $border-grey;
  margin: 2rem;
  padding: 1rem;

  .alert:first-child:last-child {
    margin: -1.5rem;
  }
}

.action-bar {
  background-color: $default-background-grey;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 1rem;
  text-align: right;

  > * {
    align-self: center;
    display: flex;
  }

  .left-content > * {
    margin-right: 1rem;
  }

  .right-content > * {
    margin-left: 1rem;
    white-space: nowrap;
    align-self: center;

  }

  #supplier {
    width: auto;
  }

  .button svg {
    margin-right: 0.25rem;
  }

  label {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.alert-danger {
  .alert-heading {
    color: $alert-danger;
  }
}

.button {
  background-color: $white;
  border: 1px solid $default-background-blue;
  border-radius: 0.2rem;
  color: $primary-blue;
  padding: 0.5rem 1rem;

  &:disabled {
    background-color: $default-background-grey;
    color: desaturate($primary-blue, 50%);
  }

  &.primary {
    background-color: $default-background-blue;
    color: $white;
  }

  &.primary:disabled {
    background-color: desaturate($default-background-blue, 50%);
    color: $white;
  }

  &.text-danger {
    border-color: $red;
  }
}

.nav-tabs {
  margin: 0 1rem;

  li {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    padding: 1rem 0;

    &.active {
      background-color: $white;
      border: 1px solid $nav-border;
      border-bottom: none;

      a {
        color: $default-text-black;
      }
    }

    a {
      color: $default-link-blue;
      padding: 1rem 1.5rem;
    }
  }
}

.page {
  padding: 1rem;

  h1 {
    color: $default-text-blue;
    font-size: 2rem;
  }

  h2 {
    color: $default-text-blue;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  h3, h4, h5, h6 {
    color: $default-text-blue;
  }
}

.well {
  background-color: $default-background-grey;
  display: flex;
  margin: 1rem 0;
  padding: 1rem;
  text-align: left;

  .button svg {
    margin-right: 0.5rem;
  }

  > * {
    margin-left: 1rem;
    margin-right: 1rem;
    align-self: center;
    display: flex;
  }
}

.file-upload {
  border: 2px dashed $default-link-blue;
  background: $white;
  padding: 1rem;
  text-align: center;
  flex-direction: column;
  svg {
    margin-left: auto;
    margin-right: auto;
  }
}
#vehicle-validation .form {
  padding: 1rem;
  .request-changes-check {
    margin: 0 0 1rem 0;
    input[type=checkbox] {
      margin-right: .5rem;
    }
  }
}