#compliance-supplier-information-details {
  .supplier-information {
    border: 1px solid $border-grey;
  }

  .ldv-makes {
    background-color: $default-background-grey;
    max-width: 500px;

    .btn-primary {
      background-color: $primary-blue;
      width: 100%;
    }

    .list {
      background-color: $white;
      border: 1px solid $border-grey;

      .delete button {
        background-color: transparent;
        border: none;
        color: $red;
      }
    }
  }
}
#compliance-consumer-sales-details {
  .consumer-sales {
    border: 1px solid $border-grey;
  }
  .previous-ldv-sales,
  .previous-ldv-avg {
    border: 1px solid $border-grey;
    background-color: $default-background-grey;
    height: 100%;
  }
  .textbox-first,
  .textbox-second,
  .textbox-third{
    width: 30%;
  }
  .ldv-sales{
    background-color: $default-background-grey;
  }
  .textbox-sales {
    width: 15%;
  }
}
#compliance-obligation-page {
  border: 1px solid $border-grey;
  padding: 2rem;


  table {
    width: 100%;
    border: 1px solid $border-grey;

    td {
      padding: 0 1rem 0 1rem;
      line-height: 35px;
    }
    tr {
      margin-top: 1rem;
    }
    .subclass {
      font-weight: bold;
      background-color: $default-background-grey;
    }
    .small-column {
      width: 15%;
    }
    .large-column {
      color: $default-text-blue;
      // width: 70%;
      border-right: 4px solid white;
    }
  }
  #offset-table {
    input {
      max-width: 125px;
      margin-left: 1rem;
    }
    td {
      line-height: 35px;
      padding-top: 10px;
      padding-bottom:10px;
    }
  }
}
