#assessment-edit {
  .grey-border-area {
    border: 1px solid $border-grey;
    padding: 1rem 1rem;
  }
  table {
    width: 100%;
    td {
      padding: 0 1rem 0 1rem;
      line-height: 35px;
    }
    tr {
      margin-top: 1rem;
    }
    .small-column {
      color: $default-text-blue;
      width: 15%;
    }
    .large-column {
      color: $default-text-blue;
      padding-left: 1rem;
      width: 20%;
    }
  }

  .assessment-credit-adjustment {
    .form-group {
      background-color: $default-background-grey;
      padding: 1rem;

      label {
        color: $default-text-blue;
        margin-bottom: 0;
      }

      input[type=radio] {
        margin-right: 0.5rem;
      }
    }
  }
}
#assessment-details {
  .text-grey {
    color: grey;
  }
  table {
    width: 100%;
    td {
      padding: 0 1rem 0 1rem;
      line-height: 35px;
    }
    tr {
      margin-top: 1rem;
    }
    .subclass {
      font-weight: bold;
      background-color: $default-background-grey;
    }
    .small-column {
      width: 15%;
    }
    .large-column {
      color: $default-text-blue;
      padding-left: 1rem;
      border-right: 4px solid white;
    }
  }
  .grey-border-area {
    border: 1px solid $border-grey;
    padding: 1rem 1rem;
  }
  .ql-container {
    height: auto !important;
  }

  .ql-editor {
    min-height: 150px !important;
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
  }
  .comment-box {
    border: 1px solid $border-grey;
    width: 100%;
    padding: 0.5rem 0.5rem;
  }
}
#compliance-report-list {
  .btn-group a {
    color: $default-text-black;
    display: block;
    text-decoration: none;

    &:hover {
      background-color: $primary-yellow;
    }
  }

  .dropdown-menu {
    left: unset;
    right: 0;
  }
}

#compliance-supplier-information-details,
#assessment-edit {
  .supplier-information {
    border: 1px solid $border-grey;
  }

  .ldv-makes {
    background-color: $default-background-grey;
    max-width: 500px;

    .btn-primary {
      background-color: $primary-blue;
      width: 100%;
    }

    .disabled {
      background-color: $form-background-grey !important;
    }

    .list {
      background-color: $white;
      border: 1px solid $border-grey;

      .delete button {
        background-color: transparent;
        border: none;
        color: $red;
      }
    }
  }
}
#compliance-consumer-sales-details {
  .consumer-sales {
    border: 1px solid $border-grey;
  }
  .previous-ldv-sales,
  .previous-ldv-avg {
    border: 1px solid $border-grey;
    background-color: $default-background-grey;
    height: 100%;
  }
  .textbox-first,
  .textbox-second,
  .textbox-third {
    width: 30%;
  }
  .ldv-sales {
    background-color: $default-background-grey;
  }
  .textbox-sales {
    width: 15%;
  }
}
#compliance-obligation-page {
  border: 1px solid $border-grey;
  padding: 2rem;
  .no-border {
    border: none;
  }
  .ldv-sales {
    height: 50px;
    line-height: 30px;
    font-weight: bold;
    background-color: $default-background-grey;
  }
  .compliance-reduction-table {
    padding-top: 1rem;
    border: 1px solid $border-grey;
  }
  table {
    width: 100%;
    border: 1px solid $border-grey;

    td {
      padding: 0 1rem 0 1rem;
      line-height: 35px;
    }
    tr {
      margin-top: 1rem;
    }
    .subclass {
      font-weight: bold;
      background-color: $default-background-grey;
    }
    .small-column {
      width: 15%;
    }
    .large-column {
      color: $default-text-blue;
      // width: 70%;
      padding-left: 1rem;
      border-right: 4px solid white;
    }
  }
  #offset-table {
    input {
      max-width: 125px;
      margin-left: 1rem;
    }
    td {
      line-height: 35px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
