h2 {
    margin-bottom:0
}
#balance {
   font-weight: bold;
    margin-bottom: 1rem;
}
.transaction-table {
    width: 80vw;
    thead {
      background-color:$default-background-grey;
      th {
          text-align: center;      
      }
    }
    tr:nth-child(even) {
        background-color: $default-background-grey;
    }
    .balance-a {
        border-left: 3px solid white;
        text-align: center;
      }
    .balance-b {
        padding-right:10px;
        text-align: center;
    }
    .date-column {
        width:10vw;
        padding-left:10px;
    }
  }

  label {
      margin-top: 2vh;
      font-weight: bold;
      color:$default-text-blue;
      text-align: center;
  }

  #date-label {
      padding-left: 15px;
      width:100%;
      text-align: left;
      margin-bottom: 0;
  }  
  
  div.check {
      color:green;
      text-align: center;
  }
 

  input[type="date"] {
    position: relative;
    padding: 10px;
    margin: 5px 0 0 10px;
    border: 2px solid #616161;
    border-radius: 5px
  }

  .calendar-icon {
      font-size:large;
      margin-left: 10px;
      margin-bottom:auto;
  } 