.ReactTable {
  .-odd {
    background-color: $default-background-grey;
  }

  .icbc-warning {
    .icbc-model-year, .icbc-make, .icbc-model, .warning, .validated {
      background-color: $background-warning !important;
    }
  }

  .icbc-danger, .icbc-warning.icbc-danger {
    .icbc-model-year, .icbc-model, .icbc-make, .warning, .validated {
      background-color: $background-danger !important;
    }
  }

  .clickable {
    cursor: pointer;
  
    &:hover {
      background-color: $primary-yellow;
    }
  }
  
  .rt-noData {
    top: 70%;
  }
}