.ReactTable {

  .-odd {
    background-color: $default-background-grey;
  }
  .icbc-verification-warning {
    .icbc-model-year, .icbc-model, .icbc-make, .warning, .validated{
      background-color: #fff1f2 !important;
    }
  }

  .clickable {
    cursor: pointer;
  
    &:hover {
      background-color: $primary-yellow;
    }
  }
}