#vehicle-supplier-details {
  h4 {
    color: $default-text-blue;
  }

  .supplier-text {
    color: $default-text-blue;
    font-size:large;
  }

  .ldv-sales {
    border: 1px solid $border-grey;
    display: inline-block;
    min-width: 500px;

    > .row {
      margin-left: 0;
      margin-right: 0;
    }

    .header-bg {
      background-color: $default-background-grey;

      > * {
        padding: 0.5rem;
      }
    }

    .model-year, .sales, .delete {
      display: inline-block;
      vertical-align: middle;
    }
    .delete button {
      background-color: transparent;
      border: none;
      color: $red;
      }
  }
}

h1 {
  color: $default-text-blue;
  font-size: 2rem;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
