#vehicle-supplier-details {
  h4 {
    color: $default-text-blue;
    margin-top: 2vh;
}
  .supplier-text {
    color: $default-text-blue;
    font-size:large;
}
}

h1 {
    color: $default-text-blue;
    font-size: 2rem;
  }

