#vehicle-supplier-details {
  h4 {
    color: $default-text-blue;
    margin-top: 2vh;
}
  .supplier-text {
    color: $default-text-blue;
    font-size:large;
}
}

h1 {
    color: $default-text-blue;
    font-size: 2rem;
  }

  #supplier-detail-form {
    .row {
      padding: 1rem;
    }

    fieldset {
        border: 1px solid $default-background-grey;
        padding-top: 1rem;

      legend {
        color: $default-text-blue;
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 0;
        margin-left: 1rem;
        padding: 0 1rem 0;
        width: auto;
      }
  
      .form-group {
        border: 1px solid $default-background-grey;
        margin: .5rem;
        padding: 1rem;
        width:50vw;   
        &:first-child {
          margin-top: 0;
        }
  
        &.action-bar {
          margin-top: 2rem;
        }
        &.row {
            padding: 10px;
            background-color: $default-background-grey;
            label {
                margin-top: 0;
            }
            div {
                &#radio {
                    padding-left: 2rem;
                }
            }
          &.error{
            background-color: #fff2f2;
        }
      }

      }
      .form-text {
        white-space: normal;
      }
    }

    input[type=text], select {
      border: 2px solid $default-text-black;
      margin-left:2rem;
      width: 90%;
      &.error {
        border: 2px solid red;
      }
    }
    input[type=radio], input[type=checkbox] {
        margin-right: 1rem;        
    }
    label {
      color: $default-text-blue;
      font-weight: bold;
    }

    .delete-button {
        border: 1px solid red;
        border-radius: 5%;
        color: red;
        padding: 0 1rem 0 1rem;
    }
  ul {
      padding: 0;
      white-space: nowrap;
  }
    
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }