#user-form {
    fieldset {
        border: 1px solid $default-text-black;
        padding-top: 1rem;
        .form-layout {
            display: flex;
            flex-direction: row;
           
        
            }
            .right-form {
               width: 40%;
            }
            .left-form {
                width:60%;
                align-self: flex-start;
            }
      legend {
        color: $default-text-blue;
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 0;
        margin-left: 1rem;
        padding: 0 1rem 0;
        width: auto;
      }
  
      .form-group {
        border: 1px solid $default-background-grey;
        margin: 1rem;
        padding: 1rem;
        white-space: nowrap;
  
        &:first-child {
          margin-top: 0;
        }
  
        &.action-bar {
          margin-top: 2rem;
        }
      }
    }

    input[type=text], select {
      border: 2px solid $default-text-black;
      margin-left:5rem;
      width: 80%;
    }
    input[type=radio], input[type=checkbox] {
        margin-right: 1rem;
      }
    label {
      color: $default-text-blue;
      font-weight: bold;
      white-space: nowrap;
    }

    .delete-button {
        border: 1px solid red;
        border-radius: 5%;
        color: red;
        padding: 0 1rem 0 1rem;
    }
  }