replicaCount: 2

envName: test
suffix: -test

image:
  repository: nginx
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

frontendConfigMap:
  apiBase: https://zeva-backend-test.apps.silver.devops.gov.bc.ca/api
  keycloakRealm: standard
  keycloakClientId: zeva-on-gold-4543
  keycloakAuthUrl: https://test.loginproxy.gov.bc.ca/auth
  keycloakCallbackUrl: https://zeva-test.apps.silver.devops.gov.bc.ca
  keycloakPostLogoutUrl: https://zeva-test.apps.silver.devops.gov.bc.ca
  keycloakSiteminderLogoutUrl: https://logontest7.gov.bc.ca/clp-cgi/logoff.cgi?retnow=1&returl=
  complianceReportEnabled: true
  complianceCalculatorEnabled: true
  complianceRatiosEnabled: true
  creditTransfersEnabled: true
  creditTransactionsEnabled: true
  initiativeAgreementsEnabled: false
  modelYearReportEnabled: true
  purchaseRequestsEnabled: false
  notificationsEnabled: true
  rolesEnabled: false
  creditAgreementsEnabled: true
  supplementalEnabled: true

resources:
  limits:
    cpu: 80m
    memory: 120Mi
  requests:
    cpu: 40m
    memory: 60Mi

appConfigMap:
  backendHostName: zeva-backend-test.apps.silver.devops.gov.bc.ca
  databaseServiceName: zeva-spilo-test
  databaseServiceNameReadonly: zeva-spilo-test-readonly
  djangoDebug: true
  ssoName: test.loginproxy.gov.bc.ca
  keycloakRealm: standard
  logoutHostName: logontest7.gov.bc.ca
  hostName: zeva-test.apps.silver.devops.gov.bc.ca

autoscaling:
  minReplicas: 2
  maxReplicas: 3
  cpuAverageUtilization: 80

# the frontend host name is appConfigMap.hostName
frontendRoute: 
  create: true

livenessProbe:
  failureThreshold: 10
  initialDelaySeconds: 40
  periodSeconds: 10
  successThreshold: 1
  tcpSocket:
    port: 8080
  timeoutSeconds: 3

readinessProbe:
  failureThreshold: 10
  initialDelaySeconds: 30
  periodSeconds: 10
  successThreshold: 1
  tcpSocket:
    port: 8080
  timeoutSeconds: 3