name: Teardown PR on Dev

on:
  pull_request:
    types: closed

env:
  TOOLS_NAMESPACE: ${{ secrets.OPENSHIFT_NAMESPACE_PLATE }}-tools
  DEV_NAMESPACE: ${{ secrets.OPENSHIFT_NAMESPACE_PLATE }}-dev

jobs:

  teardown-on-dev:
    if: endsWith( github.event.pull_request.title, 'build-on-dev' )
    name: Tear ZEVA down on Dev
    runs-on: ubuntu-latest
    timeout-minutes: 20
 
    steps:

      - name: Log in to Openshift
        uses: redhat-actions/oc-login@v1.2
        with:
          openshift_server_url: ${{ secrets.OPENSHIFT_SERVER }}
          openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}
          insecure_skip_tls_verify: true
          namespace: ${{ env.TOOLS_NAMESPACE }}  

      - name: Undeploy on Dev
        shell: bash {0}
        run: |
          helm -n ${{ env.DEV_NAMESPACE }} uninstall zeva-backend-dev-${{ github.event.pull_request.number }} || true
          helm -n ${{ env.DEV_NAMESPACE }} uninstall zeva-frontend-dev-${{ github.event.pull_request.number }} || true
          helm -n ${{ env.DEV_NAMESPACE }} uninstall zeva-spilo-dev-${{ github.event.pull_request.number }} || true
