name: Unit Test Template

on:
  workflow_call:
    inputs:
      pr-number:
        required: true
        type: string
  
jobs:

  frontend-unit-test:

    name: Run Frontend Unit Tests
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: refs/pull/${{ inputs.pr-number }}/head        
      
      - uses: actions/setup-node@v3
        with:
          node-version: 16.20.0
          
      - name: Show node version
        run: |
          node --version
          
      - name: Frontend Jest coverage report
        uses: ArtiomTr/jest-coverage-report-action@v2.2.1
        continue-on-error: false
        with:
          working-directory: frontend
          test-script: npm run test
          output: report-markdown
          coveragePath: 'frontend/report.json'
        
  backend-unit-test:

    name: Run Backend Unit Tests
    runs-on: ubuntu-latest
    timeout-minutes: 60
    
    steps:

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: refs/pull/${{ inputs.pr-number }}/head     

      - name: Remove all only keep backend files
        run: |
          mv backend ..
          rm -rf *
          mv ../backend/* .
          pwd
          ls -la

      # the DATABASE_* env variables have to have same value in as the action in order to connect to postgresql
      # todo for itvr-django-test, create a new working-directory argument
      - name: Run coverage report for django tests 
        uses: kuanfandevops/django-test-action@itvr-django-test
        continue-on-error: false
        env:
          MINIO_ENDPOINT: minio:9000
          MINIO_ACCESS_KEY: testtest
          MINIO_SECRET_KEY: testtest
          DATABASE_NAME: testdb
          DATABASE_USER: test
          DATABASE_PASSWORD: test123
          DATABASE_ENGINE: postgresql
          # DATABASE_SERVICE_NAME: 127.0.0.1
          # POSTGRESQL_SERVICE_HOST: 127.0.0.1
          # POSTGRESQL_SERVICE_PORT: 5432
        with:
          settings-dir-path: zeva
          requirements-file: requirements.txt
          managepy-dir: ./
