name: Unit Test Template

on:
  workflow_call:
    inputs:
      pr-number:
        required: true
        type: string
  
jobs:

  # frontend-unit-test:

  #   name: Run Frontend Unit Tests
  #   runs-on: ubuntu-latest
  #   timeout-minutes: 60

  #   steps:

  #     - name: Checkout
  #       uses: actions/checkout@v3
  #       with:
  #         ref: refs/pull/${{ inputs.pr-number }}/head        

  #     - name: Fronend Jest coverage report
  #       uses: ArtiomTr/jest-coverage-report-action@v2.2.1
  #       continue-on-error: false
  #       with:
  #         working-directory: frontend
  #         test-script: npm run test
        
  backend-unit-test:

    name: Run Backend Unit Tests
    runs-on: ubuntu-latest
    timeout-minutes: 60
    
    # defaults:
    #   run:
    #     working-directory: backend
    # services:
    #   postgres:
    #     image: postgres:14
    #     env:
    #       POSTGRES_USER: postgres
    #       POSTGRES_PASSWORD: postgres
    #       POSTGRES_DB: zevatest
    #     options:
    #       --health-cmd pg_isready --health-interval 15s --health-timeout 5s --health-retries 5
    #     ports:
    #       - 5432:5432

    steps:

      # python-magic pacjage reqires libmagic1
      # - name: Install libmagic1
      #   run: sudo apt-get install -y libmagic1
        
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: refs/pull/${{ inputs.pr-number }}/head     

      - name: Current working dir
        run: |
          pwd
          ls -la
          echo $GITHUB_WORKSPACE
          
      - name: Run coverage report for django tests 
        uses: kuanfandevops/django-test-action@itvr-django-test
        continue-on-error: false
        env:
          MINIO_ENDPOINT: minio:9000
          MINIO_ACCESS_KEY: testtest
          MINIO_SECRET_KEY: testtest
          DATABASE_NAME: testdb
          DATABASE_USER: test
          DATABASE_PASSWORD: test123
          DATABASE_ENGINE: postgresql
          DATABASE_SERVICE_NAME: 127.0.0.1
          POSTGRESQL_SERVICE_HOST: 127.0.0.1
          POSTGRESQL_SERVICE_PORT: 5432
        with:
          settings-dir-path: "backend/zeva"
          requirements-file: "backend/requirements.txt"
          managepy-dir: backend
