apiVersion: v1
kind: ConfigMap
metadata:
  creationTimestamp: null
  name:  zeva-config{{ .Values.suffix }}
  labels: {{ include "zeva-frontend.labels" . | nindent 4 }}
data:
  apibase: https://{{ .Values.appConfigMap.backendHostName }}/api/
  database_engine: postgresql
  database_name: zeva
  database_service_name: {{ .Values.appConfigMap.databaseServiceName }}
  database_service_name_readonly: {{ .Values.appConfigMap.databaseServiceNameReadonly }}
  django_debug: '{{ .Values.appConfigMap.djangoDebug }}'
  email_from_address: donotreply@gov.bc.ca
  email_sending_enabled: 'False'
  env_name: {{ .Values.envName }}
  keycloak_audience: zeva-on-gold-4543
  keycloak_authority: https://{{ .Values.appConfigMap.ssoName }}/auth/realms/{{ .Values.appConfigMap.keycloakRealm }}
  keycloak_certs_url: https://{{ .Values.appConfigMap.ssoName }}/auth/realms/{{ .Values.appConfigMap.keycloakRealm }}/protocol/openid-connect/certs
  keycloak_client_id: zeva-on-gold-4543
  keycloak_issuer: https://{{ .Values.appConfigMap.ssoName }}/auth/realms/{{ .Values.appConfigMap.keycloakRealm }}
  keycloak_logout_redirect_url: https://{{ .Values.appConfigMap.logoutHostName }}/clp-cgi/logoff.cgi?returl=https://{{ .Values.appConfigMap.hostName }}&retnow=1
  keycloak_realm_name: {{ .Values.appConfigMap.keycloakRealm }}
  keycloak_realm_url: https://{{ .Values.appConfigMap.ssoName }}/auth/realms/{{ .Values.appConfigMap.keycloakRealm }}
  keycloak_realm: https://{{ .Values.appConfigMap.ssoName }}/auth/realms/{{ .Values.appConfigMap.keycloakRealm }}
  keycloak_url: https://{{ .Values.appConfigMap.ssoName }}/auth
  keycloak_callback_url: https://{{ .Values.appConfigMap.hostName }}/
  keycloak_siteminder_logout_redirect_url: https://{{ .Values.appConfigMap.logoutHostName }}/clp-cgi/logoff.cgi?retnow=1&returl=
  well_known_endpoint: https://{{ .Values.appConfigMap.ssoName }}/auth/realms/standard/.well-known/openid-configuration
  minio_endpoint: zeva-minio-{{ .Values.envName }}.apps.silver.devops.gov.bc.ca
  postgresql_service_host: {{ .Values.appConfigMap.databaseServiceName}}.{{ .Values.openshiftLicensePlate }}-{{ .Values.envName }}.svc.cluster.local
  postgresql_service_port: '5432'
  rabbitmq_enabled: 'False'
  rabbitmq_host: zeva-{{ .Values.envName }}-rabbitmq-cluster.{{ .Values.openshiftLicensePlate }}-{{ .Values.envName }}.svc.cluster.local
  rabbitmq_port: '5672'
  rabbitmq_vhost: /zeva
---
apiVersion: v1
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: {{ template "zeva-frontend.name" . }}-config{{ .Values.suffix }}
  labels: {{ include "zeva-frontend.labels" . | nindent 4 }}
data:
  features.js: |
    window.zeva_config = {
      'api_base': "{{ .Values.frontendConfigMap.apiBase }}",
      'keycloak.realm': "{{ .Values.frontendConfigMap.keycloakRealm }}",
      'keycloak.client_id': "{{ .Values.frontendConfigMap.keycloakClientId }}",
      'keycloak.auth_url': "{{ .Values.frontendConfigMap.keycloakAuthUrl }}",
      'keycloak.callback_url': "{{ .Values.frontendConfigMap.keycloakCallbackUrl }}",
      'keycloak.post_logout_url': "{{ .Values.frontendConfigMap.keycloakPostLogoutUrl }}",
      'keycloak.siteminder_logout_url': "{{ .Values.frontendConfigMap.keycloakSiteminderLogoutUrl }}",
      'compliance_report.enabled': {{ .Values.frontendConfigMap.complianceReportEnabled }},
      'compliance_calculator.enabled': {{ .Values.frontendConfigMap.complianceCalculatorEnabled }},
      'compliance_ratios.enabled': {{ .Values.frontendConfigMap.complianceRatiosEnabled }},
      'credit_transfers.enabled': {{ .Values.frontendConfigMap.creditTransfersEnabled }},
      'credit_transactions.enabled': {{ .Values.frontendConfigMap.creditTransactionsEnabled }},
      'initiative_agreements.enabled': {{ .Values.frontendConfigMap.initiativeAgreementsEnabled }},
      'model_year_report.enabled': {{ .Values.frontendConfigMap.modelYearReportEnabled }},
      'purchase_requests.enabled': {{ .Values.frontendConfigMap.purchaseRequestsEnabled }},
      'notifications.enabled': {{ .Values.frontendConfigMap.notificationsEnabled }},
      'roles.enabled': {{ .Values.frontendConfigMap.rolesEnabled }},
      'credit_agreements.enabled': {{ .Values.frontendConfigMap.creditAgreementsEnabled }},
      'supplemental.enabled': {{ .Values.frontendConfigMap.supplementalEnabled }},
      'model_year_report.years': [
        2020,
        2021,
        2022,
        2023,
      ]
    };