apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: {{ template "zeva-frontend.fullname" . }}
  annotations:
    description: Defines how to deploy the frontend application
  creationTimestamp: null
  labels: {{ include "zeva-frontend.labels" . | nindent 8 }}
spec:
  replicas: {{ .Values.replicaCount }}
  revisionHistoryLimit: 10
  selector: {{ include "zeva-frontend.selectorLabels" . | nindent 4 }}
  strategy:
    activeDeadlineSeconds: 21600
    recreateParams:
      timeoutSeconds: 600
    resources: {}
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels: {{ include "zeva-frontend.labels" . | nindent 8 }}
    spec:
      containers:
        - env:
            - name: KEYCLOAK_CERTS_URL
              valueFrom:
                configMapKeyRef:
                  name: zeva-config
                  key: keycloak_certs_url
            - name: KEYCLOAK_REALM
              valueFrom:
                configMapKeyRef:
                  name: zeva-config
                  key: keycloak_realm
            - name: KEYCLOAK_AUTHORITY
              valueFrom:
                configMapKeyRef:
                  name: zeva-config
                  key: keycloak_authority
            - name: KEYCLOAK_ISSUER
              valueFrom:
                configMapKeyRef:
                  name: zeva-config
                  key: keycloak_issuer
            - name: KEYCLOAK_URL
              valueFrom:
                configMapKeyRef:
                  name: zeva-config
                  key: keycloak_url
            - name: KEYCLOAK_AUDIENCE
              valueFrom:
                configMapKeyRef:
                  name: zeva-config
                  key: keycloak_audience
            - name: KEYCLOAK_CLIENT_ID
              valueFrom:
                configMapKeyRef:
                  name: zeva-config
                  key: keycloak_client_id
            - name: KEYCLOAK_REALM_NAME
              valueFrom:
                configMapKeyRef:
                  name: zeva-config
                  key: keycloak_realm_name
            - name: RABBITMQ_ENABLED
              valueFrom:
                configMapKeyRef:
                  name: zeva-config
                  key: rabbitmq_enabled
            - name: APIBASE
              valueFrom:
                configMapKeyRef:
                  name: zeva-config
                  key: apibase
            - name: KEYCLOAK_LOGOUT_REDIRECT_URL
              valueFrom:
                configMapKeyRef:
                  name: zeva-config
                  key: keycloak_logout_redirect_url
            - name: KEYCLOAK_SITEMINDER_LOGOUT_REDIRECT_URL
              valueFrom:
                configMapKeyRef:
                  name: zeva-config
                  key: keycloak_siteminder_logout_redirect_url
            - name: KEYCLOAK_CALLBACK_URL
              valueFrom:
                configMapKeyRef:
                  name: zeva-config
                  key: keycloak_callback_url                    
          image:
          imagePullPolicy: IfNotPresent
          livenessProbe:
{{ toYaml .Values.livenessProbe | indent 12 }}
          name: {{ template "zeva-frontend.fullname" . }}
          ports:
            - containerPort: 3000
              protocol: TCP
            - containerPort: 5002
              protocol: TCP
          readinessProbe:
{{ toYaml .Values.readinessProbe | indent 12 }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /opt/app-root/src/app/config
              name: {{ template "zeva-frontend.fullname" . }}-config             
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
        - configMap:
            defaultMode: 444
            name: {{ template "zeva-frontend.fullname" . }}-config
          name: {{ template "zeva-frontend.fullname" . }}-config
  test: false
  triggers:
    - imageChangeParams:
        automatic: true
        containerNames:
          - {{ template "zeva-frontend.fullname" . }}
        from:
          kind: ImageStreamTag
          name: {{ template "zeva-frontend.fullname" . }}:{{ .Values.frontendImageTagname }}
        lastTriggeredImage:
      type: ImageChange
    - type: ConfigChange
status:
  availableReplicas: 0
  latestVersion: 0
  observedGeneration: 0
  replicas: 0
  unavailableReplicas: 0
  updatedReplicas: 0
